<!-- Modal -->
<div class="modal fade" id="infoAlertas" tabindex="-1" role="dialog" aria-labelledby="infoAsesoriasCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title">Historial de Alertas</h6>
                <button type="button" class="close text-light" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card">
                    <div class="card-body">
                        <table class="table table-sm">
                            <thead>
                                <tr>
                                    <th>Vecino</th>
                                    <th>Fecha</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let alert of alertsList">
                                    <td id="nombreVecino" class="mt-2"><span>{{alert.nombre}}</span>
                                        <br> {{alert.celular}}<br>
                                        {{alert.calle}} #{{alert.casa}} </td>
                                    <td class="mt-2">{{alert.fecha | date: 'dd-MMM-y'}}
                                        <br>{{alert.fecha | date: 'hh:mm:ss a' }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>