.help{
    color: rgb(173, 15, 15);
}

.card-header{
    background-color: #212121;
 }

.card p{
    font-size: 20px;
}

.card {
    height: 70%;
    width: 70%;
}


img{
    cursor: pointer;
}

.section{
    margin-top: 5%;
}

.btn-help {
    position: fixed;
    top: 52%;
    right: 15%;
    left: 15%;
}

p{
   font-size: 14px;
}

@media screen and (max-width:650px){
    img {
        height: 50%;
        width: 50%;
    }

    .card {
        height: 90%;
        width: 90%;
    }
    
    .card p {
        font-size: 14px;
    }

    .btn-help {
        position: fixed;
        top: 38%;
        right: 20%;
        left: 20%;
    }

    p {
        font-size: 12px;
    }
}